* {
    box-sizing: border-box;
  }
  
  body {
    
    font-size: 18px;
    line-height: 27px;
    font-family: font-family: Bowlby One SC, cursive;
    background-image: url("https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/89435678_3243757212305983_5326224055127244800_o.jpg?_nc_cat=109&_nc_sid=e3f864&_nc_ohc=PbyAFm1TFpUAX-uS5ak&_nc_ht=scontent-atl3-1.xx&oh=52933d3adee12b72e3962fa8a8aff4b9&oe=5E93F060");
    background-size: cover;
  }
   
  img {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px; 
    padding-right: 20px;
    float: left;
  }

  a {
      padding-left: 20px;
      margin-right: 20px;
  }
  
  #about {
    padding-left: 50px;
    margin-right: 50px;
  }

  p, h1, h4{
      color: white;
  }

  .card {
      float: left;
      margin-right: 40px;
  }

  .form-group {
      color: white;
  }

  .form-control {
    width: 30%;
  }

  #contacts {
     margin-left: 10px;
  }

  
  
  @media screen and (max-width: 980px) {
    
    body {
      background-color: white;
      }
  }
    
      @media screen and (max-width: 768px) {
  
        body {
          background-color:white;
        }
      }
  
        @media screen and (max-width: 640px) {
          header{
            margin: auto;  
          }
        
          body {
           background-color: white;
          }
          h1 {
            text-align: center;
          }
          div {
            text-align: center;
  
          }
          a {
            margin-right: 20px;
            padding-left: 20px;
          }
        }
  
         h1 {
             padding-left: 40px;
         } 